 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Electronics Shopping App</h1>
                <p class="lead">The purpose of this site is to offer users the opportunity to purchase electronic products online and to facilitate the electronic shopping experience.</p>
            </div>
        </div>
    </header>